.popular-posts {
  width: 100%;
  margin-top: 40px;
}

@media only screen and (min-width: 992px) {
  .popular-posts {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .popular-ponds {
    width: 60%;
  }
}