.post-modal {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .post-modal {
    width: 85%;
  }
}
 
@media only screen and (min-width: 768px) {
  .post-modal {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .post-modal {
    width: 55%;
  }
}

.post-modal .post {
  background-color: white;
  width: 85%;
  padding: 20px;
  border-radius: 5px;
  height: 90%;
  margin: 5% 0;
  overflow-y: auto;
}

.post header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.close-post-modal-button {
  border-radius: 20px;
  min-width: 70px;
}